{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


<div class="wrapper">
    <div class="title"><span>Đăng nhập</span></div>
    <form action="{{ url_for('login') }}" method="POST">
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="Username" required />
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password" required/>
      </div>
      <div class="row button">
        <button type="submit">Login</button>
      </div>
      <div class="signup-link">Chưa có tài khoản <a href="/register">Đăng kí</a></div>
    </form>
  </div>



{% endblock %}
