{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}


<div class="wrapper">
    <div class="title"><span>Đăng kí</span></div>
    <form form method="POST">
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="Username" required />
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password" required/>
      </div>
      <div class="row button">
        <button type="submit">Đăng kí </button>
      </div>

    </form>
  </div>

{% endblock %}
